<div class='container-fluid'>

  <div class='col-12'>

        <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/2/25/0b885c5b-c304-42c8-8360-37c699a7059d1582631629943-VM_Desk_Banner.jpg"
          alt="1" height="350">


        <img
          src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2020/2/15/bbec9887-754a-4626-97d4-492014d6bc7e1581749187592-KNK_Desk_Banner.jpg"
          alt="3" height="350">
  </div>

</div>
