<br>
<br><div class="container">
  <div class = "card-columns mt-100" style="width: 100%;display:flex;justify-content: space-between;">
    <div class="card" style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/9/3/0e77c249-8822-4772-869a-4293fe7283721567496983394-desktop-deal.jpG" alt="Card image">

    </div>

    <div class="card " style="width:23%" >
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/6/12/fc18570d-5170-4c27-91f0-b10924e989201528778863097-17731eb0-063b-4e48-926c-c2771a19fc241527676512681-deal1.jpg" alt="Card image">

    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/9/10/2b71c85a-2b59-4642-97dd-727ea242fbf21536592156321-3.jpg" alt="Card image">
    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2018/12/26/e4c85b7f-aa40-4195-abcb-942e734bbba81545795449887-ext-500-deal-strip.jpg" alt="Card image">

    </div>
  </div></div><br>
<div class="container" ><h2><b>BRANDS IN FOCUS</b></h2></div>
<div class="container" style="font-size:18px">Show some brand love</div>
<br><div class="container">
  <div class = "card-columns mt-100" style="width: 100%;display:flex;justify-content: space-between;">
    <div class="card" style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11238318/2020/1/31/5efae826-bfef-49a0-81ca-2e228f80319c1580466967194-Lee-Men-Shirts-2951580466965405-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color: black"><b>LEE</b></h6>
        <p class="card-text font-weight-bolder">Live in <em>Style</em> with S/S'20 Collection
        </p>

      </div>
    </div>

    <div class="card " style="width:23%" >
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11364432/2020/1/24/47d6a27d-2e5e-45e9-85ef-a9a5ebf417a11579852235194-SASSAFRAS-Women-Olive-Green-Printed-A-Line-Dress-73115798522-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color: black"><b>SASSAFRAS</b></h6>
        <p class="card-text font-weight-bolder" style="color:black">Flaunt your <em>Ethnic </em>side with
          S/S'20 Collection
        </p>

      </div>
    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11417812/2020/2/11/e2ea0af1-5f08-4dff-bfd1-569dace840671581409766825-Libas-Women-Off-White--Navy-Blue-Printed-Kurta-with-Palazzos-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color:black "><b>Gorgeous Ethnic Wear</b></h6>
        <p class="card-text font-weight-bolder">Upgrade your closet with<em>S/S'20 Collection</em>
        </p>

      </div></div>
    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/7211786/2018/9/15/f8423dc1-0c76-4b95-a5e2-6f758bbead931536987313233-Indian-Terrain-Navy-Single-Breasted-Casual-Blazer-1801536987-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color: black"><b>Indian Terrain</b></h6>
        <p class="card-text font-weight-bolder">Effortless <em>Fashion</em> just for you upto 40% off.
        </p>

      </div>
    </div>
  </div></div><br>

<div class="container">
  <div class = "card-columns mt-100" style="width: 100%;display:flex;justify-content: space-between;">
    <div class="card" style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/9295345/2019/4/13/73538408-e156-4930-98b7-3cbb4ee1a94c1555138864731-plusS-Women-Mustard-Printed-Fit-and-Flare-Dress-840155513886-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color: black"><b>Curvy Trends</b></h6>
        <p class="card-text font-weight-bolder">Compliment-Fetching <em>Styles</em> At 30-50% off
        </p>

      </div>
    </div>

    <div class="card " style="width:23%" >
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/7079948/2018/8/29/967967f3-6366-4f24-b9ea-a4e9e297b4291535534122865-Inddus-Women-Sarees-7451535534122708-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color: black"><b>INDDUS</b></h6>
        <p class="card-text font-weight-bolder" style="color:black">Embrace your <em>roots</em>with
          50% off
        </p>

      </div>
    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/8365361/2019/7/12/0cea90e7-5e0e-4040-af93-30be141bd8131562909633973-Caprese-Women-Maroon-BRIGETTA-Solid-Two-Fold-Wallet-26715629-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color:black "><b>CAPRESE</b></h6>
        <p class="card-text font-weight-bolder">Min 30% off on Alia's <em>Favourite</em>styles
        </p>

      </div></div>
    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/11003522/2020/2/6/e4f79e06-3ed3-4184-b228-d385aca925ee1580977167846-DressBerry-Women-Pink-Solid-Fitted-Top-9271580977166412-1.jpg" alt="Card image">
      <div class="card-body">
        <h6 class="card-title" style="color: black"><b>Dressberry</b></h6>
        <p class="card-text font-weight-bolder">Styles for this<em> Season</em> at Min 30% off.
        </p>

      </div>
    </div>
  </div></div><br>
<div class="container" ><h2><b>WE CURATE ,YOU SHOP</b></h2></div>
<div class="container" style="font-size:18px">Handpicked favourites just for you</div><br>
<div class="container" style="display:flex;">
  <div  ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/9128eed6-43df-418d-b081-bee1cf10e4481563360396415-We-Curate-you-shop-3june_01.jpg" width="100%"></div>
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/212acc43-0e47-4131-bedf-aebf387673741563360396403-We-Curate-you-shop-3june_02.jpg" width="90%"></div>
</div>
<div  class="container" style="display:flex;" >
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/6392d5d6-d661-472a-aacc-4869408447cd1563360396392-We-Curate-you-shop-3june_03.jpg"
             width="100%" ></div>
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/3c149d18-1bc6-4aea-8656-119354ef08d01563360396382-We-Curate-you-shop-3june_04.jpg" width="90%"></div>
</div><br>
<div class="container" ><h2><b>TRENDING NOW</b></h2></div>
<div class="container" style="font-size:18px">From the runway to your wardrobe</div><br>
<div class="container">
  <div class = "card-columns mt-100" style="width: 100%;display:flex;justify-content: space-between;">
    <div class="card" style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/fe43f2f5-8cc2-460b-9a2f-43d498f81d371563360469249-women_01.jpg" alt="Card image">

    </div>

    <div class="card " style="width:23%" >
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/a6783f76-b3fd-4126-baed-c362399937741563360469236-women_02.jpg" alt="Card image">

    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/ea6cdd64-1daa-45dc-9358-519394429b211563360469224-women_03.jpg" alt="Card image">
    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/5b1b150a-e6a7-4152-80c0-a9edc29b1ca11563360469213-women_04.jpg" alt="Card image">

    </div>
  </div></div><br>
<div class="container">
  <div class = "card-columns mt-100" style="width: 100%;display:flex;justify-content: space-between;">
    <div class="card" style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/bfca4734-ed0d-4418-a91d-92689ed579e11563360548581-men_01.jpg" alt="Card image">

    </div>

    <div class="card " style="width:23%" >
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/d008fcf2-408c-4951-8828-ea3ffd7b622e1563360548563-men_02.jpg" alt="Card image">

    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/cd3ba5d8-3b74-4054-98be-7fe3f104e9861563360548542-men_03.jpg" alt="Card image">
    </div>

    <div class="card " style="width:23%">
      <img class="card-img-top" src="https://assets.myntassets.com/f_webp,w_245,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/551821ac-fc9b-4836-af7b-66924934904c1563360548524-men_04.jpg" alt="Card image">

    </div>
  </div></div><br>
<div class="container" ><h2><b>DISCOVER NEW</b></h2></div>
<div class="container" style="font-size:18px">Stay updated on what's new</div><br>


<div class="container" style="display:flex;">
  <div  ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/e1284fe5-a49f-4bb2-984d-4318694bbef91563361186678-Discover-Now_01.jpg" width="100%"></div>
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/9/11/eb11963d-07e9-43dd-a216-7f16b7f83cc01568197306707-Discover-Now-NBA_02.jpg" width="100%"></div>
</div>
<div  class="container" style="display:flex;height:185px" >
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/284cde1d-d2df-4f6c-8830-e835acf4a5f81563359444209-Discover-Now_03.jpg"
             width="100%" ></div>
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/55e76faa-a02a-4da7-8eea-85bda83582d91563359444198-Discover-Now_04.jpg" width="100%"></div>
</div><br>
<div  class="container" style="display:flex;" height="100%">
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/eb1aaad9-6db4-4158-8e33-a35ba11481651563359444186-Discover-Now_05.jpg"
             width="100%" ></div>
  <div ><img src="https://assets.myntassets.com/f_webp,w_490,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/7/17/fcb52cde-f445-481d-a275-823a7f8f380b1563359444176-Discover-Now_06.jpg" width="100%"></div>
</div><br>
<div style="background:white;height:200px">
  <br><br>
  <div class="container " style="display:flex">
    <div style="margin-right: 50px;color:black"><i class="fa fa-commenting" aria-hidden="true"></i> GET SPECIAL DISCOUNT ON YOUR INDOX</div>
    <div style="margin-right: 50px;color:black"><i class="fa fa-mobile" aria-hidden="true"></i> EXPERIENCE THE TGS MOBILE APP</div>
    <div style="margin-right: 50px;color:black"><i class="fa fa-phone" aria-hidden="true"></i> FOR ANY HELP YOU MAY CALL US AT +91-922-213-2020</div>
  </div><br>
  <div class="container" style="display: flex">
    <div><input type="text" placeholder="Enter your email id"><button style="border-radius: 20px;margin-left: 10px"> CLICK</button> </div>

    <div>Monday To Saturday,9am-9pm</div>
  </div><br><br>
  <div style="background:white;height:220px;display: flex">
    <div class="container" style="justify-content: space-between">
      <div class="container" style="font-family:georgia;color:black;font-size: 30px;" ><em><b>TGS</b></em></div>
      <div class="container" style="color:black;margin-top: 12px">HELP</div>
      <div class="container" style="color:black;margin-top: 12px">INSPIRE ME</div>
      <div class="container" style="color:black;margin-top: 12px">QUICK LINKS</div>
      <div class="container" style="color:black;margin-top: 12px">TOP CATEGORIES</div>
    </div>
    <div class="container" style="justify-content: space-between">
      <div style="color:black;margin-top: 12px;font-size: 13px">WHO ARE WE?</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">CONTACT US</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">BEAUTY BOOK</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">OFFER ZONE</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">MAKEUP</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">MOM AND BABY</div>
    </div>
    <div class="container" style="justify-content: space-between">
      <div style="color:black;margin-top: 12px;font-size: 13px">CAREERS</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">FREQUENTLY ASKED QUESTIONS</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">TGS TV</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">NEW LAUNCHES</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">SKIN</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">WELLNESS</div>
    </div>
    <div  class="container" style="justify-content: space-between">
      <div style="color:black;margin-top: 12px;font-size: 13px">AUTHENTICITY</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">STORE LOCATER
      </div>
      <div style="color:black;margin-top: 12px;font-size: 13px">TGS NETWORK</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">TGS MAN</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">HAIR</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">FRAGRANCE</div>
    </div>
    <div class="container" style="justify-content: space-between">
      <div style="color:black;margin-top: 12px;font-size: 13px">PRESS</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">CANCELLATION AND RETURN </div>
      <div style="color:black;margin-top: 12px;font-size: 13px">ROUTINE FINDER</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">TGS FASHION</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">PERSONAL CARE</div>
      <div style="color:black;margin-top: 12px;font-size: 13px">NATURAL</div>
    </div></div>
  <div style="background: #C0C0C0;height: 120px;color:black">
    <div class="container " style="display:flex;">
      <div style="margin-left: 60px;margin-top: 30px">TERMS & CONDITIONS</div>
      <div style="margin-left: 60px;margin-top: 30px">SHIPPING POLICY</div>
      <div style="margin-left: 60px;margin-top: 30px">CANCELLATION POLICY</div>
      <div style="margin-left: 60px;margin-top: 30px">PRIVACY POLICY</div>
    </div>
    <div class="container mt-2" style="text-align:center"><i class="fa fa-check-circle-o" aria-hidden="true"></i> 2019 TGS E-Retail
      Pvt. Ltd. All Rights Reserved </div>
  </div>

